_output
vendor
.idea
.vscode
.DS_Store
build
/docs
test
**/public.pem
*.db
oidc-cfg
flow
log
autotest
kubeconfig
dist/
/generate
/generates
*.ts
/docs/harbor/harbor.v2.13.0.tar.gz
/docs/harbor/prepare
/docs/harbor/data
/docs/harbor/common
/docker/sidecar
/config/config-cloud.yaml
/web/node_modules
/web/dist
/web/.husky
/web/src/.umi
/web/src/.umi-production
/pkg/embeds/web/*
